.about-section {
  background: white;
}

.about-banner {
  position: relative;
}

.about-title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  letter-spacing: 5px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.about-banner img {
  height: 550px;
  width: 100%;
  display: block;
  opacity: 0.8;
  padding-bottom: 20px;
}

.about-features {
  display: flex;
  padding: 30px;
  justify-content: space-between;
}

.feature-box {
  background-color: #fff;
  height: 200px; /* Adjusted height to accommodate the image and text */
  width: 310px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  text-align: center;
  transition: transform 0.3s;
  padding: 20px; /* Added padding for better spacing */
}

.feature-box img {
  width: 100px; /* Adjust the size of the images as needed */
  height: 100px;
  margin-top: 20px; /* Space between top and image */
}

.feature-box i {
  font-size: 50px;
  margin-top: 25px;
  color: #000;
}

.feature-box h2 {
  margin-top: 15px;
  color: black;
  letter-spacing: 1px;
}

.feature-box:hover {
  transform: scale(1.1);
}

.feature-box a:hover img, .feature-box a:hover h2 {
  color: red;
}

.feature-box a {
  text-decoration: none;
  color: inherit; /* Ensure the text color remains the same */
}

.about-details {
  text-align: center;
  padding: 20px 50px;
}

.about-details p {
  font-size: 18px;
  line-height: 1.6;
}
